div h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
}

.divCentar{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
